@{
    ViewData["Title"] = "Dungeon Dweller";
}

<!-- Page Content-->
<section class="py-5">
    <div id="dungeon-bg"></div>
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center" id="dd-text">
            <div class="col-lg-6">
                <div class="text-center mb-3 mt-3">
                    <h1 class="fw-bolder">Dungeon Dweller</h1>
                    <p class="lead fw-normal mb-0">Help the citizens of Underworld fight the evil that has consumed their universe</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div id="dungeon-intro-ss" class="col-12">
                <img class="img-fluid rounded-3 my-5" src="~/images/DungeonDwellerIntro.png" alt="..." />
            </div>
            <div class="col-lg-6">
                <img id="dungeon-ss1" class="img-fluid rounded-3 mb-5" src="~/images/dungeon_dweller_screenshot1.png" alt="..." />
            </div>
            <div class="col-lg-6">
                <img id="dungeon-ss2" class="img-fluid rounded-3 mb-5" src="~/images/dungeon_dweller_screenshot2.png" alt="..." />
            </div>
        </div>
        <div class="row gx-5 justify-content-center" id="dd-text">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <p class="lead fw-normal">Dungeon Dweller is a console app created using C# in Visual Studio. I extended our class content to add more features such as a weapon selection as well as some life gain abilities for continued playability.</p>
                </div>
            </div>
        </div>
    </div>
</section>
