@{
    ViewData["Title"] = "Dungeon Dweller";
}

<!-- Page Content-->
<section class="py-5">
    <div id="dungeon-bg"></div>
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center" id="dd-text">
            <div class="col-lg-6">
                <div class="text-center mb-3 mt-3">
                    <h1 class="fw-bolder">Dungeon Dweller</h1>
                    <p class="lead fw-normal mb-0">Text-Based Adventure</p>
                </div>
            </div>
        </div>
        <div class="row gx-5 bg-secondary shadow rounded">
            <div id="dungeon-intro-ss" class="col-12">
                <img class="img-fluid shadow rounded-3 my-5" src="~/Images/DD_HealthRoom.png" alt="..." />
            </div>
            <div class="col-lg-6">
                <img id="dungeon-ss1" class="img-fluid shadow rounded-3 mb-5" src="~/images/DD_Battle.png" alt="..." />
            </div>
            <div class="col-lg-6">
                <img id="dungeon-ss2" class="img-fluid shadow rounded-3 mb-5" src="~/images/DD_HealthRoom.png" alt="..." />
            </div>
        </div>
        <div class="row gx-5 d-flex justify-content-center" id="dd-text">
            <div class=" p-5">
                <div class="text-center mb-5">
                    <p class="lead fw-normal "></p>
                        
                    <p class="lead fw-normal ">
                        Embark on a classic text-based adventure with "Dungeon Dweller," a simple yet engaging console application. Navigate through a randomly chosen series of rooms, encounter monsters, and test your strategic skills with different weapons.<br /><br />Find it on  <a target="_blank" rel="noreferrer" href="https://github.com/sjnegus/DungeonApp">GitHub!</a>
                    </p>
                    <br />
                    

                    <h2>Key Features:</h2>
                    <br />

                    <h4>Weapon Selection:</h4>
                    <p class="lead fw-normal ">
                        Choose your weapon wisely from a selection of options. Each weapon has its own unique attributes, affecting your chances of success in the dungeon.
                    </p><br />
                    <h4>Random Room Exploration:</h4>
                    <p class="lead fw-normal ">
                        Experience the thrill of exploration as you move through randomly selected rooms. Each room presents a surprise, whether it's a monster to battle, a treasure to discover, or a challenge to overcome.
                    </p><br />
                    <h4>Monster Encounters:</h4>
                    <p class="lead fw-normal ">
                        Encounter various monsters in your journey. Engage in straightforward turn-based combat, using your selected weapon to attack and block. Defeating monsters rewards you with valuable points.
                    </p><br />
                    <h4>Life Management:</h4>
                    <p class="lead fw-normal ">
                        Keep an eye on your character's life points. Successfully defeating monsters will replenish your life, but beware—running out of life means the end of your dungeon adventure.
                    </p><br />
                    <h2>How to Play:</h2>

                    <h4>Choose Your Weapon:</h4>
                    <p class="lead fw-normal ">
                        Start your journey by selecting a weapon. Consider the weapon's attributes, and choose the one that aligns with your preferred playstyle.
                    </p><br />
                    <h4>Explore the Dungeon:</h4>
                    <p class="lead fw-normal ">
                        Traverse through a series of randomly generated rooms. Adapt to each room's unique challenge, whether it's a combat encounter, a reward, or an obstacle to navigate.
                    </p><br />

                    <h4>Battle Monsters:</h4>
                    <p class="lead fw-normal ">
                        Engage in turn-based battles with monsters using your chosen weapon. Plan your attacks and defenses carefully to emerge victorious.
                    </p><br />

                    <h4>Survive the Dungeon:</h4>
                    <p class="lead fw-normal ">
                        Manage your character's life points as you progress. Make strategic decisions, defeat monsters, and aim to survive the dungeon until the end.
                    </p>
                    <br />
                    <h4>Experience the Simple Adventure:</h4>
                    <p class="lead fw-normal ">
                        "Dungeon Dweller" provides a straightforward and enjoyable text-based adventure experience. Perfect for those seeking a quick and entertaining journey into the world of dungeon exploration, monsters, and strategic decision-making.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

                    @section Scripts {
    <link href="~/css/styles.css" rel="stylesheet" />
                    }