@{
    ViewData["Title"] = "Porfolio Overview";
}

<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5" id="dd-text">
            <h1 class="fw-bolder">Personal Projects</h1>
            <p class="lead fw-bold mb-0">Here are a few examples of the projects I have completed or am currently working on. To see more, check out my GitHub account! <a target="_blank" rel="noreferrer" href="https://github.com/sjnegus"> <i class="fa fa-github"></i></a></p>
        </div>
        <div class="row bg-secondary shadow rounded py-5 gx-5 ">
            <div class="col-lg-6">
                <h3><a class="page-link link-primary" href="https://github.com/sjnegus/DungeonApp"><i class="fa fa-github"></i></a></h3>
                <div class="position-relative mt-2 mb-5">
                    <img class="img-fluid shadow rounded-3 mb-3" src="~/images/DD_Intro.png" alt="Intro screen of Dungeon Dweller." />
                    <a class="h3 fw-bolder link-dark stretched-link" href="@Url.Action("DungeonDweller", "Portfolio")">Dungeon Dweller </a>         
                    <p class="text-light pt-3">Dungeon Dweller is a console app game in which you go through different rooms and fight monsters to help vanquish the evil in Underworld.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3> <a target="_blank" rel="noreferrer" class="page-link link-primary" href="https://github.com/sjnegus/StoreFront"><i class="fa fa-github"></i></a></h3>
                <div class="position-relative mt-2 mb-5">
                    <img class="img-fluid box-shadow rounded-3 mb-3" src="~/images/StoreFront-Home.png" alt="..." />
                    <a class="h3 fw-bolder link-dark stretched-link" href="@Url.Action("IntroToMVC", "Portfolio")">Store Front Website</a>
                    <p class="text-light pt-3">
                        This site is still in progress. 
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mt-2 mb-5">
                    <img class="img-fluid shadow rounded-3 mb-3" src="~/images/SQL_StoreFrontSchema.png" alt="..." />
                    <a class="h3 fw-bolder link-dark stretched-link" href="@Url.Action("DataWithSQL", "Portfolio")">Databases With SQL</a>
                    <p class="text-light pt-3">Here I showcase my work with SQL creating and managing Databases.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <img class="img-fluid shadow rounded-3 mb-3" src="~/images/Centriq_black.jpg" alt="..." />
                    <a class="h3 fw-bolder link-dark stretched-link" href="#!">Coming Soon</a>
                    <p class="text-light pt-3">Add description here</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container px-5 my-5 text-center">
        <h1 class="display-4 fw-bolder mb-4">Let's build something together</h1>
        <h5>I would love the opportunity to grow and explore the world of web development with you. Collaboration is always a beneficial experience and bouncing ideas off another person can help with the creative process! </h5>
        <a class="btn btn-lg btn-dark link-secondary" asp-action="Contact" asp-controller="Home">Contact</a>
    </div>
</section>
@section Scripts {
<script src="https://kit.fontawesome.com/9bdad48a66.js" crossorigin="anonymous"></script>
}