@{
    ViewData["Title"] = "Full Stack Website";
}

<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-2 justify-content-center" id="dd-text">
            <div class="col-lg-6">
                <div class="text-center mb-3 mt-3">
                    <h1 class="fw-bolder">Full Stack Website</h1>
                    <p class="lead fw-normal mb-0">
                        
                    </p>
                </div>
            </div>
        </div>
        <div class="bg-dark rounded-3 row gx-5 my-5">
            <div class="col-12">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/IntroToMVC_2.png" class="d-block w-100 img-fluid rounded-3 my-5" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/IntroToMVC_3.png" class="d-block w-100 img-fluid rounded-3 my-5" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/IntroToMVC_4.png" class="d-block w-100 img-fluid rounded-3 my-5" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-12">
                    <img class="img-fluid rounded-3 mb-5" src="~/images/ContactFormMVC.png" alt="..." />
                </div>
                <div class="col-lg-12">
                    <img class="img-fluid rounded-3 mb-5" src="~/images/UserData.png" alt="..." />
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded-3 mb-5" src="~/images/WorkingWithDataMVC.png" alt="..." />
            </div>
        </div>
        <div class="row gx-2 justify-content-center" id="dd-text">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <p class="lead fw-normal">
                        <!--
                            DETAILED EXPLANATION OF HOW SITE WAS BUILT
                        -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
