@{
    ViewData["Title"] = "Resume";
}
<!-- Header-->

<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">Resume</h1>
                    <button class="btn btn-light btn-outline-dark btn-lg px-4"><a href="/assets/IT_Resume.pdf" target="_blank">Downloadable PDF</a></button>

                </div>
            </div>
        </div>
    </div>
</header>
<div class="container px-5 mb-1">
    <article class="bg-dark text-light text-center">
        <h2 class="p-3 mb-2 text-decoration-underline">Education</h2>
        <ul>
            <li class="text-decoration-underline"><h5>Centriq Training</h5></li>
            <p class="text-center"><strong>Program:</strong> Full Stack Coding Program</p>
            <p class="text-center"><strong>Expected Graduation Date:</strong> March 1, 2024</p>
            <br>
            <li class="text-decoration-underline"><h5>Kirkwood Community College</h5></li>
            <p class="text-center"><strong>Duration:</strong> August 2016 - December 2017</p>
            <p class="text-center"><strong>Location:</strong> Iowa City, IA</p>
        </ul>
    </article>
</div>
<div class="container px-5 mb-5">
    <article class="bg-light text-dark text-center">
        <h2 class="p-3 mb-2 text-decoration-underline">Experience</h2>
        <ul>
            <li class="text-decoration-underline"><h5>Centriq Training</h5></li>
            <p class="text-center"><strong>Duration:</strong> November 2023 - Present</p>
            <p class="text-center"><strong>Skills:</strong> Front End, Middle Tier, Back End, C#, CSS, JavaScript, SQL</p>
            <br>
            <li class="text-decoration-underline"><h5>Cooper Outdoor Services</h5></li>
            <p class="text-center"><strong>Duration:</strong> August 2020 - November 2023</p>
            <p class="text-center"><strong>Position:</strong> Lawn Care Technician</p>
            <p class="text-center"><strong>Skills:</strong> Attention to detail, Communication, Time Management </p>
            <br>
            <li class="text-decoration-underline"><h5>Red Lobster</h5></li>
            <p class="text-center"><strong>Duration:</strong> August 2016 - May 2020</p>
            <p class="text-center"><strong>Position:</strong> Grill Master</p>
            <p class="text-center"><strong>Skills:</strong> Strong Teamwork Skills, Coordination, Perform in High Pressure Situations</p>
        </ul>
    </article>
</div>
