@{
    ViewData["Title"] = "Links";
}
<section class="bg-light py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Classmate Websites</h1>
            <p class="lead fw-normal text-muted mb-0">Learn about those who learned with me</p>
        </div>
    </div>
</section>
<!-- Team members section-->
<section class="py-5 bg-dark">
    <div class="container px-5 my-5">
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://centriq.instructure.com/images/thumbnails/30181/pMeh1wKrDfb2HOsrPB1UDCWlApY40zzRL3Mm2Bmp" alt="..." />
                    <a href="/links.html"><h5 class="fw-bolder text-light">Allen Taylor</h5></a>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://centriq.instructure.com/images/thumbnails/139658/eHChPrzAzclQyoXEaFhP1oxflt59mVwAbS7vyRlE" alt="..." />
                    <a href="/links.html"><h5 class="fw-bolder text-light">Nicole Park</h5></a>
                </div>
            </div>
        </div>
    </div>
</section>